.container {
    padding: 0 15px;
    margin: 0 0;
    width: 100%;

    @include breakpoint(sm) {
        width: 750px;
        margin: 0 auto;
    }
    @include breakpoint(md) {
        width: 970px;
        margin: 0 auto;
    }
    @include breakpoint(lg) {
        width: 1170px;
        margin: 0 auto;
    }
}