// Colours
$dark-blue: #0B132B;
$medium-blue: #1C2541;
$light-blue: #3A506B;
$green: #4B5320;
$teal: #6FFFE9;

// Header
$header-height: 4em;
$header-height-scrolled: 3em;
$header-transition: all ease-in-out 0.3s;