$dark-blue: #0B132B;
$medium-blue: #1C2541;
$light-blue: #3A506B;
$green: #4B5320;
$teal: #6FFFE9;

$dark-blue-rgb: 11,19,43;
$medium-blue-rgb: 28,37,65;
$light-blue-rgb: 58,80,107;
$green-rgb: 75,83,32;
$teal-rgb: 111,255,233;

$black-rgb: 0,0,0;
$white-rgb: 255,255,255;
