@import '../../styles/index.scss';

.header {
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;
    transition: $header-transition;
    a {
        color: white;
        text-decoration: none;
    }
}

.scrolled {
    height: $header-height-scrolled;
    background-color: black;
    transition: $header-transition;
    @include bottomShadow(0.5);
}

.header.solid {
    background-color: grey;
    @include bottomShadow(0.5);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}