@import '../../styles/index.scss';

.header {
    border-bottom: 2px solid $teal;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;
    transition: $header-transition;
}

.scrolled {
    height: $header-height-scrolled;
    background-color: $dark-blue;
    transition: $header-transition;
    @include bottomShadow(0.4);
}

.header.solid {
    background-color: $dark-blue;
    @include bottomShadow(0.4);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}