@import '../../styles/index';

.footer {
    border-top: 1px solid black;
    background-color: $dark-blue;
    min-height: 300px;
    display: flex;
    @include topShadow(0.3);
    .panelsWrapper {
        padding-bottom: 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        @include breakpoint(sm) {
            grid-template-rows: 25% 75%;
        }
        .contactPanel {
            grid-column: span 12;
            border: 2px solid $medium-blue;
            @include breakpoint(xs) {
                grid-column: span 4;
            }
        }
        .panel {
            grid-column: span 12;
            border: 2px solid $medium-blue;
            @include breakpoint(sm) {
                grid-column: span 6;
            }
            @include breakpoint(md) {
                grid-column: span 3;
            }
        }
    }
}