@import '../../styles/index';

// TODO refactor anchor tags (reduce duplication)
.footer {
    border-top: 1px solid black;
    background-color: $dark-blue;
    min-height: 300px;
    display: flex;
    @include topShadow(0.3);
    a {
        color: white;
        text-decoration: none;
    }
    .panelsWrapper {
        padding-bottom: 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: min-content;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        .panel {
            border: 2px solid $medium-blue;
            .heading {
                color: $teal;
            }
        }
        .contactPanel {
            grid-column: span 12;
            @include breakpoint(xs) {
                grid-column: span 4;
            }
        }
        .aboutPanel {
            grid-column: span 12;
            @include breakpoint(sm) {
                grid-column: span 6;
            }
            @include breakpoint(md) {
                grid-column: span 4;
            }
        }
        .linksPanel {
            grid-column: span 6;
            @include breakpoint(sm) {
                grid-column: span 3;
            }
            @include breakpoint(md) {
                grid-column: span 4;
            }
            .linksWrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: min-content;
                padding: 5px 5px;
                a {
                    grid-column: span 2;
                    font-size: 0.7em;
                    @include breakpoint(xs) {
                        grid-column: span 1;
                    }
                }
            }
        }
        .aboutText {
            padding: 5px 5px;
            p {
                color: white;
                font-size: 0.6em;
                margin: 0;
            }
        }
        .copyright {
            color: white;
            font-size: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .regLinks {
            a {
                font-size: 0.7em;
                padding: 0 8px;
                &:first-child {
                    border-right: 2px solid white;
                }
            }
        }
        .fullPanel {
            grid-column: span 12;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}