@import '../../styles/index';

.footer {
    border-top: 1px solid black;
    background-color: $dark-blue;
    height: 300px;
    display: flex;
    .panelsWrapper {
        border: 2px solid red;
        padding: 2em 0;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        .panel {
            grid-column: span 6;
            border: 2px solid $medium-blue;
            // &:last-child {
            //     border: none;
            // }
            .logoWrapper {
                border: 2px solid $teal;
            }
            .subTitle {
                color: $teal;
            }
            @include breakpoint(sm) {
                grid-column: span 3;
            }
        }
    }
}