@import '../../styles/index.scss';

.navDesktop {
    display: none;
    @include breakpoint($mobile-breakpoint) {
        display: flex;
        flex-direction: row;
    }
}
.navDesktop .scrolled {
    padding: 0 0 2px 0;
    transition: $header-transition;
}
.navMobile {
    padding: 0;
    height: 0;
    transition: $header-transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: $dark-blue, $alpha: 0.8);
    position: fixed;
    top: $header-height + 0.5em;
    left: 2%;
    z-index: 10;
    width: 96%;
    overflow: hidden;
    @include breakpoint($mobile-breakpoint) {
        display: none;
    }
}
.navMobile.menuOpen {
    padding: 1em;
    visibility: visible;
    height: 60vh;
    transition: $header-transition;
    overflow: scroll;
}
.navMobile.scrolled {
    top: $header-height-scrolled + 0.5em;
    transition: $header-transition;
}
.link {
    padding: 0 5px;
    text-decoration: none;
}
.navDesktop .link {
    &:last-child{
        padding-right: 0;
    }
}
.linkText {
    color: $teal;
    font-size: 0.8em;
    padding: 5px 0;
    transition: all ease-in-out 0.3s
}
.active {
    .linkText {
        border-bottom: 2px solid white;
    }
}
