@import '../../styles/index.scss';

.nav {
    display: none;
}
.excludeMobile {
    @include breakpoint(xs) {
        display: flex;
        flex-direction: row;
    }
}
.link {
    padding: 0 0.5em;
    text-decoration: none;
    &:last-child{
        padding-right: 0;
    }
}
.linkText {
    color: white;
    font-size: 0.8em;
    padding: 0.5em 0;
    transition: all ease-in-out 0.3s
}
.scrolled {
    padding: 0.3em 0;
    transition: all ease-in-out 0.3s
}
.active {
    .linkText {
        border-bottom: 2px solid red;
    }
}
